body{
    background: url(./color.jpg);
    background-repeat: no-repeat;
}
h1{
    text-align: center;
    background-color: grey;
    
}

#container{
    height: 500px;
    width: 500px;
    background-color: blueviolet;
    padding: 10px;
    margin: 0 auto;

}

#button{
    margin: 20px 47%;
    background-color: red;
    color: aliceblue;
    border: none;
    padding: 8px;
    border-radius: 10%;
}

#button:hover{
    background-color: rgba(158, 19, 9, 0.781);
    color: beige;
}